.App {
  padding: 20px 0;
}

.row {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.row .col {
  box-sizing: border-box;
}

.row .col:first-child {
  flex: 0 0 250px;
  height: 80vh;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.row .col:first-child::-webkit-scrollbar{height:10px;}
.row .col:first-child::-webkit-scrollbar-track{background:#dddddd;}
.row .col:first-child::-webkit-scrollbar-thumb{background:#2cc2e4;}

.row .col:last-child {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
}

.prefectures {
  margin: 0;
  padding: 10px;
  list-style: none;
}

.prefectures li + li {
  margin-top: 1em;
}

.prefectures li input {
  margin-right: 0.5em;
}
